.slider {
    position: relative;
    /* This is a neat trick we can use to scale the height of the element based on its width,
     rather than the height of its parent container.  For a slideshow with a fixed aspect ratio, 
     this is going to be crucial to our responsive behavior. I’ve opted for an aspect ratio of 5:3, 
     or in other words, the height is 60% of the width.*/ 
    padding-top: 60%;
    overflow: hidden;
} 
 
.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 1;
}
 
.slider img.slide{
    height: auto;
}

.left-half { 
    width: 50%;
    position: absolute;
    top: 0;
    left: 0; 
}

.left-half img { 
    width: 100%; 
    height: auto; 
}

.right-half { 
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
} 

.right-half img { 
    width: 100%; 
    height: auto; 
}
